@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: black;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-ink-100 antialiased font-sans;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  width: 100%;
}
